In [1]:
class Cursor:
    def __init__(self, document):
        self.document = document
        self.position = 0

    def forward(self):
        self.position += 1

    def back(self):
        self.position -= 1

    def home(self):
        while self.document.characters[
                self.position-1] != '\n':
            self.position -= 1
            if self.position == 0:
                # Got to beginning of file before newline
                break

    def end(self):
        while self.position < len(self.document.characters
                ) and  self.document.characters[self.position] != '\n':
            self.position += 1

In [1]:
input_strings = ['1', '5', '28', '131', '3']

output_integers = [int(num) for num in input_strings]

print(output_integers)

[1, 5, 28, 131, 3]

In [1]:
import pandas as pd

In [4]:
pd.read_clipboard()

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1]
Index: []